 <div class='row'>
  <div class='span12'>

</div>
 </div>

 <div class="navbar">
  <div class="navbar-inner">

    <a class="btn btn-success" data-bind="css : { 'disabled' : !have_order() }, click : order" >Заказ <span data-bind="text : price">-</span></a>
  </div>
</div>

  <div class='row'>
      <div class='span3'>
        <ul class="nav nav-tabs nav-stacked" data-bind="foreach : categories">
          <li data-bind="css : { 'active' : $parent.chosen_category() == name }, click : $parent.select_category"><a href="#" data-bind='text : name'></a></li>
        </ul>
      </div>
      <div class='span9' >
        <ul class="row thumbnails" data-bind="foreach : dishes">
          <li class='span3' style="margin-bottom : 20px">
              <div class="thumbnail">
                  <img src="http://placehold.it/260x180" alt="260x180" style="width: 260px; height: 180px;">
                  <div class="caption">
                   <p data-bind="text : name" style="height: 50px;"></p>
                    <p>
                      <a href="#" class="btn btn-mini" data-bind="click : $parent.remove_item"><i class="icon-minus"></i></a> 
                      <a href="#" data-bind="click : $parent.add_item" class="btn btn-mini"><i class="icon-plus"></i></a>

                      <span class="badge badge-warning" data-bind="text : price">0</span>

                      <span class="pull-right" data-bind="text : $parent.count($data)">0</span>

                    </p>

                  </div>
                </div>
          </li>
        </ul>
      </div>

   </div> 
