 <div class='row'>
  <div class='span12'>

</div>
 </div>

 <div class="navbar">
  <div class="navbar-inner">



    <ul class="nav">
 <!--                      <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Добавить к счету <b class="caret"></b></a>
                        <ul class="dropdown-menu ">
                          <li data-bind="css : { 'disabled' : !have_order() }, click : add_to_check" class='disabled'><a href="#">Столик 1</a></li>
                          <li data-bind="css : { 'disabled' : !have_order() }, click : r"><a href="#">Столик 2</a></li>
                          <li data-bind="css : { 'disabled' : !have_order() }, click : r"><a href="#">Столик 3</a></li>
                        </ul>
                      </li>
                    </ul> -->

<div class="btn-group" >
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-bind="css : { 'disabled' : !have_order() }">Заказ <span data-bind="text : price">-</span>  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  
                  <li  data-bind="click : order"><a href="#">Просмотреть</a></li>
                  <li class="divider"></li>
<li data-bind="click : add_to_check"><a href="#"  >Столик 1</a></li>
<li data-bind="click : add_to_check"><a href="#"  >Столик 2</a></li>
<li data-bind="click : add_to_check"><a href="#"  >Столик 3</a></li>
<li data-bind="click : add_to_check"><a href="#"  >Столик 4</a></li>
<li data-bind="click : add_to_check"><a href="#"  >Столик 5</a></li>
<li data-bind="click : add_to_check"><a href="#"  >Столик 6</a></li>
                  <li class="divider"></li>
                  <li  data-bind="click : remove"><a href="#"><i class="icon-ban-circle"></i> Отменить</a></li>
                  <li class="divider"></li>
                  <li  data-bind="click : cansel"><a href="#">Нечико не делать</a></li>
                </ul>
              </div>       
  </div>
</div>

  <div class='row'>
      <div class='span3'>
        <ul class="nav nav-tabs nav-stacked" data-bind="foreach : categories">
          <li data-bind="css : { 'active' : $parent.chosen_category() == name }, click : $parent.select_category"><a href="#" data-bind='text : name'></a></li>
        </ul>
      </div>
      <div class='span9' >
        <ul class="row thumbnails" data-bind="foreach : dishes">
          <li class='span3' style="margin-bottom : 20px">
              <div class="thumbnail" data-bind="click : $parent.add_item">
                  <img src="http://placehold.it/260x180" alt="260x180" style="width: 260px; height: 180px;">
                  <div class="caption">
                   <p data-bind="text : name" style="height: 50px;"></p>
                    <p>
                      <a href="#" class="btn btn-mini" data-bind="click : $parent.remove_item, clickBubble: false"><i class="icon-minus"></i></a> 
                      <a href="#" data-bind="click : $parent.add_item" class="btn btn-mini"><i class="icon-plus"></i></a>

                      <span class="badge badge-warning" data-bind="text : price">0</span>

                      <span class="pull-right" data-bind="text : $parent.count($data)">0</span>

                    </p>

                  </div>
                </div>
          </li>
        </ul>
      </div>

   </div> 
